<header class="header">
    <div class="mdl-layout__header-row">
        <span class="spacer"></span>
        <span>
            Ajouter des amis
        </span>
        <nav class="mdl-navigation logout" ng-controller="FooterCtrl">
            <a class="mdl-navigation__link" ng-click="logout()"> <span class="glyphicon glyphicon-log-out"></span></a>
        </nav>
    </div>
</header>
<div class="addFriend">
    <table ng-table="tableParams" show-filter="true" class="mdlTable addFriendTable" >
        <tbody>
        <tr ng-repeat="row in $data track by row.id" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
            <td  data-title="'Pseudo'" filter="{pseudo:'text'}">{{row.pseudo}}</td>
            <td  data-title="'Nom'" >{{row.name}}</td>
            <td  data-title="'Prénom'">{{row.firstName}}</td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
    <button ng-click="addFriendRequest()" class=" accent myButton myButtonRaised centered">Demander en ami</button>
</div>



<my-footer/>