<div id="container" class="container">

    <h3><span class="label label-primary">Connexion</span></h3>

    <div ng-controller="ConnexionCtrl">

    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>

        <form ng-submit="submit()">

            <fieldset class="form-group">
                <label for="inputUsername">Nom du compte / email</label>
                <input type="text" ng-model="userNameOrMail" class="form-control" id="inputUsername"
                       placeholder="Nom utilisateur ou mail">
            </fieldset>

            <fieldset class="form-group">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" ng-model="password" class="form-control" id="inputPassword"
                       placeholder="Mot de passe">
            </fieldset>

            <button type="submit" class="btn btn-primary">Login</button>

        </form>
    </div>
</div>