<header class="header">
    <div class="row">
        <div class="logo">
            <img src="../../Ressources/Images/logo.png">
        </div>
    </div>
    <div class="row">
        <span class="spacer"></span>
        <span>
            Connexion
        </span>
    </div>
</header>

<div class="main2Rows" ng-controller="ConnexionCtrl">

    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>

    <form ng-submit="submit()">

        <fieldset class="form-group">
            <label for="inputUsername">Nom du compte / Email</label>
            <input type="text" ng-model="userNameOrMail" class="form-control" id="inputUsername"
                   placeholder="Nom utilisateur ou mail">
        </fieldset>

        <fieldset class="form-group">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" ng-model="password" class="form-control" id="inputPassword"
                   placeholder="Mot de passe">
        </fieldset>

        <button type="submit" class="float accent myButton myButtonRaised">Connexion</button>

    </form>

    <button ng-click="return()" class="buttonIcon myButton return">
        <img src="../../Ressources/Images/Left_arrow.svg" class="icon"/>
    </button>
</div>