<header class="header">
    <div class="row">
        <div class="logo">
            <img src="../../Ressources/Images/logo.png">
        </div>
    </div>
    <div class="row">
        <span class="spacer"></span>
        <span>
            C'est quoi ?
        </span>
    </div>
</header>

<div class="main2Rows description">

    <p>
        Partinizer (Party Organizer) est une application permettant de gérer et rejoindre facilement des évenements.
    </p>
    <p>
        Il y a donc deux types de status : organisateur ou participant.
        Le but est de savoir en un coup d'oeil qui participe, et quelles sont les ressources nécessaires (ou
        facultatives) à l'évenement.
    </p>

    <button ng-click="back()" class="buttonIcon myButton return">
        <img src="../../Ressources/Images/Left_arrow.svg" class="icon"/>
    </button>
</div>