<script type="text/javascript">
    $(document).ready(function () {
        $("#myForm").formToWizard({submitButton: 'confirmCreation'})
    });
</script>
<header class="header">
    <div class="row">
        <span class="spacer"></span>
        <span>
            Création d'événement
        </span>
    </div>
</header>

<div class="main1Row">

    <!--<div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>-->

    <form ng-submit="submit()" role="form" name="myForm" id="myForm">

        <!-- 1st Step ------------------------------------------------------------------------------------------------->
        <fieldset>
            <div class="col-xs-12 ">
                <label for="nomEvent">Nom</label>
                <input type="text" ng-model="nomEvent" class="form-control" id="nomEvent" name="nomEvent"
                       placeholder="Nom de l'evenement">
                <span ng-show="myForm.nomEvent.$error.required && myForm.nomEvent.$dirty">Champ obligatoire</span>
            </div>

            <div class="row voffset15"></div>

            <div class="col-xs-5">
                <label for="placeEvent">Lieu</label>
                <input type="text" ng-model="placeEvent" class="form-control" id="placeEvent" name="placeEvent"
                       placeholder="Lieu">
                <span ng-show="myForm.placeEvent.$error.required && myForm.placeEvent.$dirty">Champ obligatoire</span>
            </div>

            <div class="col-xs-7">
                <label for="dateEvent">Date et heure</label>
                <input type="datetime-local" min="sysdate" ng-model="dateEvent" class="form-control" id="dateEvent"
                       name="dateEvent">
                <span ng-show="myForm.dateEvent.$error.required && myForm.dateEvent.$dirty">Champ obligatoire</span>
            </div>

            <div class="row voffset15"></div>

            <div class="col-xs-12">
                <label for="descriptionEvent">Courte description</label>
                <textarea class="form-control" rows="5" ng-model="descriptionEvent" id="descriptionEvent"
                          name="descriptionEvent"
                          placeholder="Décris en quelques mot comment se passera ton evenement.">

                </textarea>
            </div>

            <div class="row voffset20"></div>

            <label for="bedEvent" class="col-xs-10">Nombre de lits dispos</label>
            <input type="number" class="col-xs-2" min="0" max="20" value="0" ng-model="bedEvent" id="bedEvent"
                   name="bedEvent">

            <div class="row voffset15"></div>

            <label for="placeDispoEvent" class="col-xs-10">Nombre de places max</label>
            <input type="number" class="col-xs-2" min="0" max="20" value="0" ng-model="placeDispoEvent"
                   id="placeDispoEvent" name="placeDispoEvent">

            <div class="row voffset30"></div>

        </fieldset>

        <!-- 2nd Step ------------------------------------------------------------------------------------------------->

        <fieldset>

            <table class="mdlTable" id="requireRessourcesTable">
                <caption><b>Ressources requises / participant</b></caption>
                <tr>
                    <th style="width:35%">Ressource</th>
                    <th style="width:10%">Quantite</th>
                    <th style="width:40%">Action</th>
                </tr>
                <tr ng-repeat="item in items" class="item-unchecked">
                    <td  style="width:35%">{{item.name}} </td>
                    <td class="secondcolumn" style="width:10%"><input type='number' value='{{item.cpt}}' min='0' ng-model="itemAmount" ></td>
                    <td style="width:40%">
                        <button ng-click="addQty(item)" class="addButton" type="button">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button ng-click="subQty(item)" type="button" class="subButton">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                        <button ng-click="remove(item)" type="button" class="removeButton" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </table>

            <br>
            <p style="text-align:center">
            <button class="btn btn-xs btn-primary text-center" data-toggle="modal" data-target="#modalAddRessource"
                    ng-click="clickOnCategory(0)">
                Ajouter une ressource
            </button>
            </p>
            <div class="row voffset20"></div>

        </fieldset>


        <!-- Modal add a ressource ------------------------------------------------------------------------------------>
        <div class="modal fade" id="modalAddRessource" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Ajout de ressource</h4>
                    </div>
                    <div class="modal-body">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" id="tabModal">
                            <li ng-class="{active: $index == 0}" ng-repeat="category in categories"
                                ng-click="clickOnCategory($index)">
                                <a target="_self" href="#{{category.designation}}"
                                   aria-controls="{{category.designation}}" role="tab" data-toggle="tab"
                                   class="ressourceImg">
                                    {{category.designation}}
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content ressources-img">

                            <div ng-repeat="resource in resources" class ="ressourceImg" id="{{resource.idRessource}}" ng-click="addRessourceToTable(resource.idRessource,resource.name)">
                                {{resource.name}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- 3rd Step ------------------------------------------------------------------------------------------------->
        <fieldset>
            <h3>Ajouter mes amis</h3>
            <table st-table="rowCollection" class="mdlTable">
                <tbody>
                <tr ng-repeat="friend in friends"
                    ng-class="{'selected':selection.indexOf($index) != -1}">
                    <td  class="tdfriend" ng-click="toggle($index)">{{friend.firstName}}</td>
                    <td  ng-click="toggle($index)">{{friend.name}}</td>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <p>
            <button id="confirmCreation" type="submit" ng-disabled="!myForm.$valid"
                    class="float accent myButton myButtonRaised">Créer l'évenement
            </button>
        </p>
    </form>
</div>

<my-footer/>



