<header class="header">
    <div class="row">
        <span class="spacer"></span>
        <span>
            Accueil
        </span>
    </div>
</header>


<button ng-click="logout()" type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-log-out"></span> Log out
</button>

<footer ng-controller="HomepageCtrl">
    <div ng-click="myEvents()">
        <p>
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
        </p>
        Créer
    </div>
    <div ng-click="manageEvent()">
        <p>
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
        </p>
        Gérer
    </div>
    <div ng-click="myParticipations()">
        <p>
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        </p>
        Participations
    </div>
    <div ng-click="myProfil()" class="last">
        <p>
            <i class="fa fa-user" aria-hidden="true"></i>
        </p>
        Profil
    </div>
</footer>
