<div id="container" class="container">
    <header class="page-header text-center" >

        <h1>Partinizer</h1>
    </header>

    <div ng-controller="HomepageCtrl">
        <div class="container">
            <section class="row">
                <div class="col-xs-12" style="height:50px;"></div>
                <div class="col-xs-12 col-sm-12 col-md-12"> <button ng-click="myEvents()"  class="btn btn-primary btn-lg new-board-btn" >Créer mon événement</button></div>
                <div class="col-xs-12" style="height:50px;"></div>
                <div class="col-xs-12 col-sm-12 col-md-12"><button ng-click="manageEvent()"  class="btn btn-primary btn-lg new-board-btn">Gérer mes événements</button></div>
                <div class="col-xs-12" style="height:50px;"></div>
                <div class="col-xs-12 col-sm-12 col-md-12"><button ng-click="myParticipations()"   class="btn btn-primary btn-lg new-board-btn">Mes participations</button></div>
                <div class="col-xs-12" style="height:50px;"></div>
                <div class="col-xs-12 col-sm-12 col-md-12"><button ng-click="myProfil()"   class="btn btn-primary btn-lg new-board-btn">Mon profil</button></div>
            </section>
        </div>
    </div>
</div>