<header class="header">
    <div class="row">
        <span class="spacer"></span>
        <span>
            Gestion des amis
        </span>
    </div>
</header>

<div ng-controller="ManageFriendsCtrl">
    <table>
        <tbody >
            <tr ng-repeat="friend in friends">
                <td>{{friend.firstName}}</td>
                <td>{{friend.name}}</td>
            </tr>
        </tbody>
    </table>
</div>





<button ng-click="returnProfil()" class="buttonIcon myButton return">
    <img src="../../Ressources/Images/Left_arrow.svg" class="icon"/>
</button>