<header class="header">
    <div class="mdl-layout__header-row">
        <span class="spacer"></span>
        <span>
            Gestion des amis
        </span>

        <nav class="mdl-navigation logout" ng-controller="FooterCtrl">
            <a class="mdl-navigation__link" ng-click="logout()"> <span class="glyphicon glyphicon-log-out"></span></a>
        </nav>
    </div>
</header>

<div class="manageFriends"> <!--ng-controller="ManageFriendsCtrl"-->
    <h2 ng-show="shouldShowInvitations()"><span class="fa fa-user-plus fa-1x"></span>Mes demandes d'amis</h2>
    <table ng-show="shouldShowInvitations()" class="mdlTable">
        <tbody >
        <tr ng-repeat="request in friendsRequest">
            <td>{{request.firstName}}&nbsp;{{request.name}}</td>
            <td>
                <a class="btn btn-success" ng-click="acceptFriend($index)">
                    <i class="fa fa-check" title="Delete" aria-hidden="true"></i>
                    <span class="sr-only">Delete</span>
                </a>
                </td>

            <td>
                <a class="btn btn-danger" ng-click="denyFriend($index)">
                    <i class="fa fa-ban" title="Delete" aria-hidden="true"></i>
                    <span class="sr-only">Delete</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <h2><span class="fa fa-users fa-1x"></span>Mes amis</h2>
    <div class="alert alert-info" ng-hide="haveFriends()">Vous n'avez pas encore d'amis ! :)</div>
    <table class="mdlTable">
            <tr ng-repeat="friend in friends">
                <td><img src="../../Ressources/Images/logo_user.jpg" class="icon"/></td>
                <td width="40%">{{friend.firstName}}</td>
                <td width="40%">{{friend.name}}</td>
                <td width="20%">
                    <a class="btn btn-danger" ng-click="removeFriend($index)">
                        <i class="fa fa-ban" title="Delete" aria-hidden="true"></i>
                        <span class="sr-only">Delete</span>
                    </a>
                </td>
            </tr>
    </table>

    <div style="text-align: center;">
        <button ng-click="addFriend()"  class="accent myButton myButtonRaised">Ajouter des amis</button>
    </div>
</div>

<my-footer/>


