<header class="header">
    <div class="mdl-layout__header-row">
        <span class="spacer"></span>
        <span>
            Gestion des amis
        </span>

        <nav class="mdl-navigation logout" ng-controller="FooterCtrl">
            <a class="mdl-navigation__link" ng-click="logout()"> <span class="glyphicon glyphicon-log-out"></span></a>
        </nav>
    </div>
</header>

<div> <!--ng-controller="ManageFriendsCtrl"-->
    <h3>Mes demandes d'amis</h3>
    <table>
        <tbody >
        <tr ng-repeat="request in friendsRequest">
            <td width="60%">{{request.firstName}}&nbsp;{{request.name}}</td>
            <td width="20%"><button ng-click="acceptFriend($index)"  class="float accent myButton myButtonRaised">&nbsp;Accepter</button></td>
            <td width="20%"><button ng-click="denyFriend($index)" class="float accent myButton myButtonRaised">Refuser</button></td>
        </tr>
        </tbody>
    </table>
    <h3>Mes amis</h3>
    <table class="table table-fixedheader table-striped">

        <tbody >
            <tr ng-repeat="friend in friends">
                <td><img src="../../Ressources/Images/logo_user.jpg" class="icon"/></td>
                <td width="40%">{{friend.firstName}}</td>
                <td width="40%">{{friend.name}}</td>
                <td width="20%">
                    <button ng-click="removeFriend($index)" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-remove"/>
                     </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button ng-click="returnProfil()" class="buttonIcon myButton return">
        <img src="../../Ressources/Images/Left_arrow.svg" class="icon"/>
    </button>
    <button ng-click="addFriend()"  class=" accent myButton myButtonRaised centered">Ajouter des amis</button>
</div>

<my-footer/>


