<header class="header">
    <div class="row">
        <span class="spacer"></span>
        <span>
            Modifier le profil
        </span>
    </div>
</header>


<div class="main1Row" ng-controller="ModifyProfilCtrl">

    <div class="profilForm">
        <h2>Changer mes informations</h2>
        <form ng-submit="submitInfos()" role="form" name="infosForm">

            <!-- NOM PRENOM ------------------------------------------------------------------------------------------------------->
            <fieldset class="form-group">
                <label for="name">Nom</label>
                <input type="text" ng-model="name" class="form-control" id="name" name="name" required ng-minlength="3" ng-maxlength="40" ng-pattern="/^[A-zÀ-ÿ]*$/">

               <span ng-show="infosForm.name.$error.required && infosForm.name.$dirty">Champ obligatoire</span>
                    <span ng-show="!infosForm.name.$error.minLength && !infosForm.name.$error.maxLength && infosForm.name.$error.pattern && infosForm.name.$dirty">Doit être composé de lettres uniquement</span>
                    <span ng-show="!infosForm.name.$error.required && (infosForm.name.$error.minlength || infosForm.name.$error.maxlength) && infosForm.name.$dirty"> Le nom doit contenir 3 à 40 caractères.</span>
            </fieldset>

            <fieldset class="form-group">
                <label for="firstName">Prénom</label>
                <input type="text" ng-model="firstName" class="form-control" id="firstName" name="firstName" required ng-minlength="3" ng-maxlength="40" ng-pattern="/^[A-zÀ-ÿ]*$/">
                <span ng-show="infosForm.firstName.$error.required && infosForm.firstName.$dirty">Champ obligatoire</span>
                <span ng-show="!infosForm.firstName.$error.minLength && !infosForm.firstName.$error.maxLength && infosForm.firstName.$error.pattern && infosForm.firstName.$dirty">Doit être composé de lettres uniquement</span>
                <span ng-show="!infosForm.firstName.$error.required && (infosForm.firstName.$error.minlength || infosForm.firstName.$error.maxlength) && infosForm.firstName.$dirty"> Le prénom doit contenir 3 à 40 caractères.</span>
            </fieldset>

            <button type="submit" ng-disabled="!infosForm.$valid" class="float accent myButton myButtonRaised">Modifier</button>


        </form>
    </div>

    <div class="profilForm">
        <h2>Changer mon mot de passe</h2>
        <form ng-submit="submitNewPassword()" role="form" name="passwordForm">

            <!-- MOT DE PASSE ----------------------------------------------------------------------------------------------------->
            <fieldset class="form-group">
                <label for="password">Nouveau mot de passe</label>
                <input type="password" ng-model="password" class="form-control" id="password" name="password" placeholder="Laisser vide si aucun changement" ng-pattern="/(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" ng-minlength="8" ng-maxlength="40">
                <span ng-show="!passwordForm.password.$error.minLength && !passwordForm.password.$error.maxLength &&passwordForm.password.$error.pattern && passwordForm.password.$dirty">Le mot de passe doit être formé d'au moins une majuscule, une minuscule, et au moins 1 chiffre ou caractère spécial</span>
                <span ng-show="!passwordForm.password.$error.required && (passwordForm.password.$error.minlength || passwordForm.password.$error.maxlength) && passwordForm.password.$dirty"> Le mot de passe doit contenir 8 à 40 caractères.</span>
            </fieldset>

            <fieldset class="form-group">
                <label for="checkPassword">Confirmation du mot de passe</label>
                <input type="password" ng-model="checkPassword" class="form-control" id="checkPassword" name="checkPassword" placeholder="Confirmation" compare-to="password">
                <span ng-show="passwordForm.checkPassword.$error.compareTo">Doit être identique au mot de passe</span>
            </fieldset>

            <button type="submit" ng-disabled="!passwordForm.$valid" class="float accent myButton myButtonRaised">Changer de mot de passe</button>

        </form>
    </div>

    <button ng-click="return()" class="buttonIcon myButton return">
        <img src="../../Ressources/Images/Left_arrow.svg" class="icon"/>
    </button>
</div>


