<header class="header">
    <div class="mdl-layout__header-row">
        <span class="spacer"></span>
        <span>
            Mes participations
        </span>
        <nav class="mdl-navigation logout" ng-controller="FooterCtrl">
            <a class="mdl-navigation__link" ng-click="logout()"> <span class="glyphicon glyphicon-log-out"></span></a>
        </nav>
    </div>
</header>

<div class="invitations" ng-controller="MyParticipationsCtrl">


    <h2 class="eventTitle" ng-show="shouldShowInvitations()"><span class="fa fa-flag fa-1x"></span>Mes invitations</h2>
    <div ng-repeat="invitation in invitations" class="eventContainer centered">
        <div class="event invitation">
            <div >
                <h2>{{invitation.name}}</h2>
                <a class="btn btn-success" ng-click="acceptEvent($index)">
                    <i class="fa fa-check" title="Delete" aria-hidden="true"></i>
                    <span class="sr-only">Delete</span>
                </a>
                <a class="btn btn-danger"  ng-click="denyEvent($index)" >
                    <i class="fa fa-ban" title="Delete" aria-hidden="true"></i>
                    <span class="sr-only">Delete</span>
                </a>
            </div>
            <i class="glyphicon glyphicon-map-marker">{{invitation.localisation}}</i>
            <i class="glyphicon glyphicon-user">{{invitation.participants.length}}</i>
            <i class="glyphicon glyphicon-calendar">{{invitation.dateBeginning | date:'dd/MM/yyyy hh:mm'}}</i>
        </div>

    </div>


    <h2 class="eventTitle"><span class="fa fa-ticket fa-1x"></span>Mes participations</h2>
    <div class="alert alert-info" ng-hide="haveParticipations()">Vous n'avez pas encore d'événements ! :)</div>
    <div ng-repeat="participation in participations" class="eventContainer centered" >
        <div class="event">
            <div >
                <h2>{{participation.name}}</h2>

                <a class="btn btn-danger cancel"  ng-click="cancelParticipation($index,participation.id)" >
                    <i class="fa fa-ban" title="Delete" aria-hidden="true"></i>
                    <span class="sr-only">Delete</span>
                </a>
            </div>
            <i class="glyphicon glyphicon-map-marker">{{participation.localisation}}</i>
            <i class="glyphicon glyphicon-user">{{participation.participants.length}}</i>
            <i class="glyphicon glyphicon-calendar">{{participation.dateBeginning | date:'dd/MM/yyyy hh:mm'}}</i>
            <div class="eventDetail" ng-show="detailParticipation[$index]" >
                <p><b>Organisateur: </b> {{participation.creator.pseudo}}</p>
                <p><b>Description</b><br/>{{participation.description}}</p>
                <table class="eventTableDetail table-bordered mdlTable">
                    <th>Ressource</th>
                    <th>Quantité</th>
                    <tr ng-repeat="needed in participation.neededs">
                        <td>{{needed.resource.name}}</td>
                        <td>{{needed.needed}}</td>
                    </tr>
                </table>
            </div>
            <div class="eventButtons">
                <button  ng-hide="detail" ng-click="detailParticipation[$index] =!detailParticipation[$index]; reduire=true ; detail=!detail"  class=" accent myButton myButtonRaised centered btnDetail">Détails</button>
                <button ng-show="reduire" ng-click="detailParticipation[$index] =!detailParticipation[$index]; detail=false; reduire=false"  class=" accent myButton myButtonRaised centered">Réduire</button>
            </div>
        </div>
    </div>

</div>

<my-footer/>