<header class="header">
    <div class="row">
        <span class="spacer"></span>
        <span>
            Mes participations
        </span>
    </div>
</header>

<div ng-controller="MyParticipationsCtrl">



    <div ng-repeat="invitation in invitations" class="eventContainer centered">
        <div class="event">
            <h2>{{invitation.description}}</h2>
            <i class="glyphicon glyphicon-map-marker">{{invitation.localisation}}</i>
            <i class="glyphicon glyphicon-user">12</i>
            <i class="glyphicon glyphicon-calendar">{{invitation.dateBeginning | date:'dd/MM/yyyy hh:mm'}}</i>
        </div>
        <button ng-click="denyEvent($index)">Refuser
        </button>
        <!--data-toggle="modal" data-target="#modalRefuseEvent"-->
        <button ng-click="acceptEvent($index)" class="pull-right btn btn-xs btn-success">Accepter</button>
    </div>



    <div ng-repeat="participation in participations" class="eventContainer centered" >
        <div class="event">
            <div >
                <h2>{{participation.name}}</h2>

                <a class="btn btn-danger"  ng-click="cancelParticipation($index,participation.id)" >
                    <i class="fa fa-ban" title="Delete" aria-hidden="true"></i>
                    <span class="sr-only">Delete</span>
                </a>
            </div>
            <i class="glyphicon glyphicon-map-marker">{{participation.localisation}}</i>
            <i class="glyphicon glyphicon-user">12 </i>
            <i class="glyphicon glyphicon-calendar">{{participation.dateBeginning | date:'dd/MM/yyyy hh:mm'}}</i>
            <br/>
            <div ng-show="detailParticipation[$index]" >
                <p><b>Organisateur: </b> {{participation.creator.pseudo}}</p>
                <p><b>Description</b><br/>{{participation.description}}</p>
                <table class="eventTableDetail table-bordered mdlTable">
                    <th>Ressource</th>
                    <th>Quantité</th>
                    <tr ng-repeat="needed in participation.neededs">
                        <td>{{needed.resource.name}}</td>
                        <td>{{needed.needed}}</td>
                    </tr>
                </table>
            </div>
            <button ng-hide="detail" ng-click="detailParticipation[$index] =!detailParticipation[$index]; reduire=true ; detail=!detail"  class=" accent myButton myButtonRaised centered">Détails</button>
            <button ng-show="reduire" ng-click="detailParticipation[$index] =!detailParticipation[$index]; detail=false; reduire=false"  class=" accent myButton myButtonRaised centered">Réduire</button>
        </div>

    </div>

</div>

<my-footer/>