<div id="container" class="container">
    <header class="page-header text-center" >

        <h1>Partinizer</h1>
    </header>

    <div ng-controller="OfflineHomepageCtrl">
        <div class="container">
        <section class="row">
            <div class="col-xs-12" style="height:50px;"></div>
            <div class="col-xs-12 col-sm-12 col-md-12"> <button ng-click="login()"  class="new-board-btn btn btn-primary btn-lg" >Connexion</button></div>
            <div class="col-xs-12" style="height:50px;"></div>
            <div class="col-xs-12 col-sm-12 col-md-12"><button ng-click="subscription()"   class="new-board-btn btn btn-primary btn-lg">Inscription</button></div>
            <div class="col-xs-12" style="height:50px;"></div>
            <div class="col-xs-12 col-sm-12 col-md-12"><button ng-click="description()"   class="new-board-btn btn btn-primary btn-lg">C'est quoi ?</button></div>
        </section>
        </div>
    </div>
</div>