<header class="header">
    <div class="mdl-layout__header-row">
        <span class="spacer"></span>
        <span>
            Mon Profil
        </span>

        <nav class="mdl-navigation logout" ng-controller="FooterCtrl">
            <a class="mdl-navigation__link" ng-click="logout()"> <span class="glyphicon glyphicon-log-out"></span></a>
        </nav>
    </div>
</header>

<div class="main1Row main1RowConnected" ng-controller="ProfilCtrl">
    <div class="profil_icon"></div>
    <div class = "profil_field">Pseudo</div>
    <div ng-bind="pseudo" class="profil_field2"></div>
    <div class = "profil_field">Adresse mail</div>
    <div ng-bind="mail" class="profil_field2"></div>
    <div class = "profil_field">Nom</div>
    <div ng-bind="name" class="profil_field2"></div>
    <div class = "profil_field">Prénom</div>
    <div ng-bind="firstName" class="profil_field2"></div>
    <div class="space"></div>
    <button ng-click="modifyProfil()" class="accent myButton myButtonRaised centered">Modifer le profil</button>
    <div class="space"></div>
    <button ng-click="frienship()" class=" accent myButton myButtonRaised centered">Gérer mes amis</button>
</div>

<my-footer/>


