<header class="header">
    <div class="mdl-layout__header-row">
        <span class="spacer"></span>
        <span>
            Mon Profil
        </span>

        <nav class="mdl-navigation logout" ng-controller="FooterCtrl">
            <a class="mdl-navigation__link" ng-click="logout()"> <span class="glyphicon glyphicon-log-out"></span></a>
        </nav>
    </div>
</header>

<div class="main1Row main1RowConnected">

    <div class="profil">
        <div class="profil_header">
            <h2><span class="fa fa-user fa-2x"></span>Vos informations</h2></div>

        <table>
            <tr>
                <td> Pseudo</td>
                <td ng-bind="pseudo"></td>
            </tr>
            <tr>
                <td> Mail</td>
                <td ng-bind="mail"></td>
            </tr>
            <tr>
                <td> Nom</td>
                <td ng-bind="name"></td>
            </tr>
            <tr>
                <td> Prenom</td>
                <td ng-bind="firstName"></td>
            </tr>
        </table>
        <div class="buttons">
            <button ng-click="modifyProfil()" class="accent myButton myButtonRaised centered">Modifer le profil</button>
            <button ng-click="frienship()" class=" accent myButton myButtonRaised centered">Gérer mes amis</button>
        </div>
    </div>
</div>

<my-footer/>


