
<div id="container" class="container">

<h3><span class="label label-primary">Inscription</span></h3>

    <div ng-controller="SubscriptionCtrl">

        <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>

        <form ng-submit="submit()" role="form" name="myForm">

<!-- IDENTIFIANT ------------------------------------------------------------------------------------------------------>
            <fieldset class="form-group">
                <label for="pseudo">Identifiant</label>
                <input type="text" ng-model="pseudo" class="form-control" id="pseudo" name="pseudo" placeholder="Identifiant"
                       ng-minlength="4" ng-maxlength="20" ng-pattern="/^[A-z][a-zA-Z0-9À-ÿ]*$/" required>
                <span ng-show="myForm.pseudo.$error.required && myForm.pseudo.$dirty">Champ obligatoire</span>
                <span ng-show="!myForm.pseudo.$error.minLength && !myForm.pseudo.$error.maxLength &&
                myForm.pseudo.$error.pattern && myForm.pseudo.$dirty">Doit commencer par une lettre et contenir uniquement des lettres et chiffres</span>
                <span ng-show="!myForm.pseudo.$error.required
                && (myForm.pseudo.$error.minlength || myForm.pseudo.$error.maxlength)
                && myForm.pseudo.$dirty"> L'identifiant doit contenir 4 à 20 caractères.</span>
            </fieldset>

<!-- EMAIL ------------------------------------------------------------------------------------------------------------>
            <fieldset class="form-group">
                <label for="email">Adresse mail</label>
                <input type="email"  ng-model="email" class="form-control" id="email" name="email" placeholder="Email" required>
                <span ng-show="myForm.email.$error.required && myForm.email.$dirty">Champ obligatoire</span>
                <span ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty">Adresse mail invalide</span>
            </fieldset>

<!-- MOT DE PASSE ----------------------------------------------------------------------------------------------------->
            <fieldset class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" ng-model="password" class="form-control" id="password" name="password" placeholder="Mot de passe" required
                ng-pattern="/(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/"
                       ng-minlength="8" ng-maxlength="40">
                <span ng-show="myForm.password.$error.required && myForm.password.$dirty">Champ obligatoire</span>
                <span ng-show="!myForm.password.$error.minLength && !myForm.password.$error.maxLength &&
                myForm.password.$error.pattern && myForm.password.$dirty">Le mot de passe doit être formé d'au moins une majuscule, une minuscule, et au moins 1 chiffre ou caractère spécial</span>
                <span ng-show="!myForm.password.$error.required
                && (myForm.password.$error.minlength || myForm.password.$error.maxlength)
                && myForm.password.$dirty"> Le mot de passe doit contenir 8 à 40 caractères.</span>
            </fieldset>

            <fieldset class="form-group">
                <label for="checkPassword">Confirmation du mot de passe</label>
                <input type="password" ng-model="checkPassword" class="form-control" id="checkPassword" name="checkPassword"
                       placeholder="Confirmation" required compare-to="password">
                <span ng-show="myForm.checkPassword.$error.required && myForm.checkPassword.$dirty">Champ obligatoire</span>
                <span ng-show="myForm.checkPassword.$error.compareTo">Doit être identique au mot de passe</span>

            </fieldset>

<!-- NOM PRENOM ------------------------------------------------------------------------------------------------------->
            <fieldset class="form-group">
                <label for="name">Nom</label>
                <input type="text" ng-model="name" class="form-control" id="name" name="name" placeholder="Nom" required
                       ng-minlength="3" ng-maxlength="40" ng-pattern="/^[A-zÀ-ÿ]*$/">
                <span ng-show="myForm.name.$error.required && myForm.name.$dirty">Champ obligatoire</span>
                <span ng-show="!myForm.name.$error.minLength && !myForm.name.$error.maxLength &&
                myForm.name.$error.pattern && myForm.name.$dirty">Doit être composé de lettres uniquement</span>
                <span ng-show="!myForm.name.$error.required
                && (myForm.name.$error.minlength || myForm.name.$error.maxlength)
                && myForm.name.$dirty"> Le nom doit contenir 3 à 40 caractères.</span>
            </fieldset>

            <fieldset class="form-group">
                <label for="firstName">Prénom</label>
                <input type="text"  ng-model="firstName" class="form-control" id="firstName" name="firstName" placeholder="Prénom" required
                       ng-minlength="3" ng-maxlength="40" ng-pattern="/^[A-zÀ-ÿ]*$/">
                <span ng-show="myForm.firstName.$error.required && myForm.firstName.$dirty">Champ obligatoire</span>
                <span ng-show="!myForm.firstName.$error.minLength && !myForm.firstName.$error.maxLength &&
                myForm.firstName.$error.pattern && myForm.firstName.$dirty">Doit être composé de lettres uniquement</span>
                <span ng-show="!myForm.firstName.$error.required
                && (myForm.firstName.$error.minlength || myForm.firstName.$error.maxlength)
                && myForm.firstName.$dirty"> Le prénom doit contenir 3 à 40 caractères.</span>
            </fieldset>

            <button type="submit" ng-disabled="!myForm.$valid" class="btn btn-primary">Inscription</button>

        </form>
    </div>
</div>

