<header class="header">
    <div class="row">
        <span class="spacer"></span>
        <span>
            Inscription
        </span>
    </div>
</header>

<div class="main1Row" ng-controller="SubscriptionCtrl">

    <form ng-submit="submit()" role="form">

        <fieldset class="form-group">
            <label for="inputPseudo">Ton nom de compte</label>
            <input type="text" ng-model="pseudo" class="form-control" id="inputPseudo" placeholder="Nom utilisateur"
                   required>
        </fieldset>

        <fieldset class="form-group">
            <label for="inputEmail">Ton adresse mail</label>
            <input type="email" ng-model="mail" class="form-control" id="inputEmail" placeholder="Email" required>
        </fieldset>

        <fieldset class="form-group">
            <label for="inputPassword">Ton mot de passe</label>
            <input type="password" ng-model="password" class="form-control" id="inputPassword"
                   placeholder="Mot de passe" required>
        </fieldset>

        <fieldset class="form-group">
            <label for="inputCheckPassword">Confirme ton mot de passe</label>
            <input type="password" ng-model="checkPassword" class="form-control" id="inputCheckPassword"
                   placeholder="Confirmation" required>
        </fieldset>

        <fieldset class="form-group">
            <label for="inputName">Ton nom</label>
            <input type="text" ng-model="name" class="form-control" id="inputName" placeholder="Nom" required>
        </fieldset>

        <fieldset class="form-group">
            <label for="inputFirstName">Ton prénom</label>
            <input type="text" ng-model="firstName" class="form-control" id="inputFirstName" placeholder="Prénom"
                   required>
        </fieldset>

        <button type="submit" ng-disabled="form.$invalid" class="float accent myButton myButtonRaised">Inscription
        </button>

    </form>

    <button ng-click="return()" class="buttonIcon myButton return">
        <img src="../../Ressources/Images/Left_arrow.svg" class="icon"/>
    </button>
</div>


