
<div id="container" class="container">

<h3><span class="label label-primary">Inscription</span></h3>


    <form ng-submit="submit()"	ng-controller="SubscriptionCtrl" role="form" name="myForm">

        <fieldset class="form-group">

            <label for="pseudo">Ton nom de compte</label>
            <input type="text" ng-model="pseudo" class="form-control" id="pseudo" name="pseudo" placeholder="Nom utilisateur"
                   ng-minlength="5" ng-maxlength="20" ng-pattern="/^[A-z][A-z0-9]*$/" required>
            <span ng-show="myForm.pseudo.$error.required && myForm.pseudo.$dirty">Requis</span>
            <span ng-show="!myForm.pseudo.$error.minLength && !myForm.pseudo.$error.maxLength &&
            myForm.pseudo.$error.pattern && myForm.pseudo.$dirty">Doit commencer par une lettre et contenir uniquement des lettres et chiffres.</span>
            <span ng-show="!myForm.pseudo.$error.required
            && (myForm.pseudo.$error.minlength || myForm.pseudo.$error.maxlength)
            && myForm.pseudo.$dirty"> Le nom d'utilisateur doit contenir 5 à 20 caractères.</span>
        </fieldset>

        <fieldset class="form-group">
            <label for="email">Ton adresse mail</label>
            <input type="email"  ng-model="email" class="form-control" id="email" name="email" placeholder="Email" required>
            <span ng-show="myForm.email.$error.required && myForm.email.$dirty">Requis</span>
            <span ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty">Mail invalide</span>
        </fieldset>

        <fieldset class="form-group">
            <label for="inputPassword">Ton mot de passe</label>
            <input type="password" ng-model="password" class="form-control" id="inputPassword" placeholder="Mot de passe" required>
        </fieldset>

        <fieldset class="form-group">
            <label for="inputCheckPassword">Confirme ton mot de passe</label>
            <input type="password" ng-model="checkPassword" class="form-control" id="inputCheckPassword" placeholder="Confirmation" required>
        </fieldset>

        <fieldset class="form-group">
            <label for="inputName">Ton nom</label>
            <input type="text" ng-model="name" class="form-control" id="inputName" placeholder="Nom" required>
        </fieldset>

        <fieldset class="form-group">
            <label for="inputFirstName">Ton prénom</label>
            <input type="text"  ng-model="firstName" class="form-control" id="inputFirstName" placeholder="Prénom" required>
        </fieldset>

        <button type="submit" ng-disabled="!myForm.$valid" class="btn btn-primary">Inscription</button>

    </form>

</div>

